header {
  /* border: 1px solid blue; */
  margin: var(--main-margin);
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}

.blue-background {
  height: calc(100%);
  width: calc(100% + var(--main-margin) * 2);
  position: absolute;
  z-index: -1;
  top: calc(0px - var(--main-margin));
  background-image: -webkit-linear-gradient(105deg, white 50%, var(--main-color) 50%);
}

.hero {
  /* border: 2px solid green; */
  position: relative;
  padding: var(--main-margin);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-img {
  /* border: 2px solid salmon; */
  width: 100%;
  max-width: 500px;
  max-height: 500px;
  object-fit: cover;
}

.caption {
  /* border: 2px solid pink; */
  padding: calc(var(--main-margin)/2);
  margin: 0px var(--main-margin);
  position: absolute;
  bottom: calc(var(--main-margin)/2);
  font-size: 3.5em;
  color: white;
}

.about-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-me-text {
  font-size: large;
  color: rgb(99, 98, 98);
  line-height: 28px;
  margin-bottom: var(--main-margin);
}

.icons {
  /* border: 1px solid gray; */
  display: flex;
  justify-content: center;
  gap: 25px;
}

.icons img {
  min-width: 30px;
  max-width: 36px;
}

@media (min-width: 520px) {

  header {
    display: block;
    border: 2px solid pink;
    flex-direction: row;
  }

  .caption {
    position: relative;
  }

  .header-img {
    max-width: 280px;
    margin-right: 20px;
    position: relative;
    left: -30px;
    float: left;
  }

  .hero {
    border: 2px solid orange;
  }

  .about-me-text {
    position: relative;
    left: -30px;
    padding: 30px;
    padding-right: 0px;
    margin-left: var(--main-margin);
  }

  .header-text {
    /* padding: var(--main-margin); */
    background-color: white;
  }

  .about-me {
    display: block;
    /* background-color: white; */
    padding: var(--main-margin);
  }

  .icons img {
    display: none;
  }
}
