header {
  /* border: 1px solid blue; */
  margin: var(--main-margin);
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
  position: relative;
  padding: var(--main-margin);
  justify-content: center;
  align-items: center;
}

.blue-background {
  height: 600px;
  width: calc(100% + var(--main-margin) * 2);
  position: absolute;
  z-index: -1;
  top: calc(0px - var(--main-margin));
  background-image: -webkit-linear-gradient(105deg, transparent 50%, var(--main-color) 50%);
}

.header-text h2 {
  text-align: center;
}

.header-img {
  width: 100%;
  max-width: 500px;
  max-height: 500px;
  object-fit: cover;
}

.img-container {
  position: relative;
}

.caption {
  position: absolute;
  bottom: 0px;
  padding: 20px;
  font-size: 56px;
  color: white;
}

.about-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-me-text {
  font-size: large;
  color: rgb(99, 98, 98);
  line-height: 28px;
  margin-bottom: var(--main-margin);
}

.icons {
  /* border: 1px solid gray; */
  display: flex;
  justify-content: center;
  gap: 25px;
}

.icons img {
  min-width: 30px;
  max-width: 36px;
}

@media (min-width: 520px){

  header {
    /* border: 2px solid brown; */
    padding: 128px;
    padding-top: 200px;
  }

  .blue-background {
    height: 1200px;
  }

  .caption {
    color: white;
    font-size: 72px;
    left: 320px;
    padding-bottom: 10px;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7),
    -2px -2px 5px rgba(255, 255, 255, 0.5);

  }

  .header-img {
    position: relative;
    float: left;
    top: -100px;
    left: -50px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
  }

  .about-me {
    display: block;
    box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, 0.3);
  }

  .header-text {
    padding: var(--main-margin);
    background-color: white;
    min-width: 800px;
  }

  .about-me-text {
    position: relative;
    top: -80px;
    left: -20px;
    margin-left: 30px;
  }

  .header-text h2{
    text-align: left;
    margin-bottom: 80px;
  }

  .icons img {
    display: none;
  }
}

@media (min-width: 1200px) {

  .blue-background {
    height: 800px;
  }

  header {
    padding-top: 100px;
  }

  .caption {
    bottom: -520px;
    left: 20px;
    z-index: 2;
  }

  .header-img {
    top: 0px;
    transform: scale(1.2);
    z-index: 1;
  }

  .header-text h2 {
    margin-bottom: 35px;
  }

  .header-text {
    min-width: 1100px;
    transform: translateX(50px);
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.3);
  }

  .icons {
    justify-content: flex-end;
  }

  .icons img {
    display: block;
  }

  .about-me {
    box-shadow: none;
    /* padding: 30px; */
  }

}
